Source: salome-smesh
Section: science
Priority: optional
Maintainer: Debian Science Maintainers <debian-science-maintainers@lists.alioth.debian.org>
Uploaders: Kurt Kremitzki <kurt@kwk.systems>
Standards-Version: 4.2.0
Build-Depends: cmake,
               debhelper (>= 11~),
               libboost-atomic-dev,
               libboost-chrono-dev,
               libboost-date-time-dev,
               libboost-filesystem-dev,
               libboost-system-dev,
               libboost-thread-dev,
               libvtk7-dev,
               libmed-dev,
               libmedc-dev,
               libmedimport-dev,
               libmetis-dev,
               libocct-foundation-dev,
               libocct-data-exchange-dev,
               libocct-draw-dev,
               libocct-ocaf-dev,
               libocct-visualization-dev,
               libtbb-dev,
               libxi-dev,
               occt-misc,
               netgen,
               netgen-headers
Vcs-Browser: https://salsa.debian.org/science-team/salome-smesh
Vcs-Git: https://salsa.debian.org/science-team/salome-smesh.git
Homepage: https://github.com/LaughlinResearch/SMESH

Package: libsalome-smesh
Architecture: any
Section: libs
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Numerical simulation pre- and post-processor - standalone SMESH module
 Salomé is a pre- and post-processor for numerical simulations.  It can import
 CAD files in IGES and STEP formats, facilitates component integration in
 heterogeneous systems, and has a user-friendly GUI as well as a Python console
 with all of the platform functionality.
 .
 This SMESH package is a fork by Laughlin Research adding standalone
 functionality as well as support for Netgen 6 and OpenCASCADE 7.
 .
 This package contains the Salomé SMESH module.

Package: libsalome-smesh-dev
Architecture: any
Section: libdevel
Depends: libsalome-smesh (= ${binary:Version}),
         ${shlibs:Depends},
         ${misc:Depends},
Description: Numerical simulation pre- and post-processor - SMESH module dev files
 Salomé is a pre- and post-processor for numerical simulations.  It can import
 CAD files in IGES and STEP formats, facilitates component integration in
 heterogeneous systems, and has a user-friendly GUI as well as a Python console
 with all of the platform functionality.
 .
 This SMESH package is a fork by Laughlin Research adding standalone
 functionality as well as support for Netgen 6 and OpenCASCADE 7.
 .
 This package contains the SMESH module's development files
