#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

%:
	dh $@ --buildsystem=cmake

override_dh_auto_configure:
	dh_auto_configure -- \
	    -DCMAKE_INSTALL_LIBDIR=/usr/lib/$(DEB_HOST_MULTIARCH) \
	    -DENABLE_LIB_NAMING=ON \
	    -DOpenCASCADE_DIR=/usr/lib/cmake/occt

override_dh_missing-arch:
	dh_missing --fail-missing
